# Backend
ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=swipeclean;Username=postgres;Password=postgres
Jwt__Issuer=SwipeClean
Jwt__Audience=SwipeCleanMobile
Jwt__SecretKey=CHANGE_ME_SUPER_LONG_32_CHAR_MIN_SECRET
Smtp__Host=smtp.mailtrap.io
Smtp__Port=587
Smtp__Username=
Smtp__Password=
Smtp__FromEmail=no-reply@swipeclean.app
Smtp__FromName=SwipeClean
Smtp__UseStartTls=true

# Mobile
API_BASE_URL=http://10.0.2.2:8080
